*.sw?
.idea
.DS_Store
.vagrant
node_modules
npm-debug.log
tmp
lib

.nyc_output
test/bench/temp
test/coverage/*
models
.env
.env.production
.env.local
.env.staging
.env.development
files
dist
install.yml
